<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>idotless</key>
		<string>idotless.glif</string>
		<key>ie</key>
		<string>ie.glif</string>
		<key>iebrevecyr</key>
		<string>iebrevecyr.glif</string>
		<key>io</key>
		<string>io.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>zhe</key>
		<string>zhe.glif</string>
	</dict>
</plist>
