<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kaverticalstrokecyr</key>
		<string>kaverticalstrokecyr.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
	</dict>
</plist>
